@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    
    width: 100%;
   
}
.header-wrapper{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('image/uni-gif-wrapper.gif');    background-size: cover;
  background-position: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index:2;background-position-x: 50%;
  background-position-y: 0%;
  -webkit-animation: zoomin 10s linear;
  animation: zoomin 10s linear;
}
@-webkit-keyframes zoomin {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(2);
      transform: scale(1.1);
    }
  }
.first-header{
    background: #06112a;
    height: 090px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100% !important;
    padding: 0 4%;
}
.first-divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-style{
    padding: 10px;
    color: white;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 80px;
    margin-right: 20px;
}
.first-divs p span{
    color: green;
    text-decoration: none;
}
.first-divs p a{
    text-decoration: none;
    color: gray;
    margin-right: 2px;
}
.first-divs p:first-child{
    font-size: 14px;
}
.first-divs p:last-child{
    font-size: 12px;
    color: gray;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-title{
    color: white;
    line-height: 1.2;
}
.header-title h2{
    font-size: 30px;
}
.header-title p{
  font-size: 12px;
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul li a::after{
  content: '';
  display: block;
  height: 2px;
  width:0;
  background-color: green;
  transition: 0.5s;
  margin: auto;
}
header nav ul li a:hover::after{
  width: 100%;
}
header button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
    border: none;
    transition: 0.7s;
}
header button a{
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
header button:hover{
    background-color: rgb(58, 94, 4);
}
header button:hover a{
    color: antiquewhite;
}
.li-btn{
  display: none;
}

.wrapper-text{
    color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 160px;
}
.wrapper-text p{
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20px;
    font-size:14px;
    font-weight: bold !important;
}
.wrapper-text p span{
    font-size: 20px;
}
.wrapper-text h1{
    font-size: 60px;
    text-transform: capitalize;
    color:  #fff;
    margin-top: 20px;
}
.menu-slider{
    height: 100vh;
    width:50%;
    background-color: #06112a;
    position: fixed;
    top:0;
    left: -700px;
    display: none;
    z-index: 2;
    transition: 0.7s;
  }
.open-icon,.close-icon{
    color: white;
    font-size: 40px;
  }
@media(min-width:901px){
    .open-icon,.close-icon{
      display: none !important;
    }
  }
  @media(max-width:900px){
    .menu-slider{
      display: block;
    }
      .first-header{
        flex-wrap: wrap;
        height: unset;
        padding-bottom: 20px;
        overflow: hidden;
      }
      .first-divs{
        padding-top: 20px;
      }
      header{
        top: 50%;
      }
      nav{
        padding-top:50px;
        height: 100vh;
        width: 53%;
        position: fixed;
        top: 0;
        right: -700px;
        background: #06112a;
        z-index: 999;
        transition: 0.7s;
  }
      header nav ul{
        display: block;
      }
      nav ul li {
        padding-top: 25px;
      }
      .li-btn{
        display: block;
      }
      .li-btn2{
        display: none;
      }
      
  }
  @media (max-width:760px){
    .wrapper-text h1{
        font-size:30px;
    }
  }


  .aboutUs{
    width:90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 120px auto;
    margin-top: 750px;
  }
  .aboutImg{
    height:914px;
    width: 30%;
    background-image: url('image/aboutImg.jpeg');
    background-size: cover;
    background-position: center;
  }
  .aboutText-img{
    width: 65%;
    text-align:left;
    height:914px;
    background: transparent;
  }
  .aboutText-img p:first-child{
    color:green;
    text-transform:uppercase;
  }
  .aboutText-img h3{
    color: rgba(0, 0, 0, 0.8);
    font-size:50px;
    margin-top:10px;
    max-width:600px;
  }
  .aboutText-img .p-text{
    color: #999999;
    margin-top:25px;
  }
  .details-flex{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: 50px;
    padding-right: 10px;
  }
  .detail-aboutUs{
    text-align: left;
    width:22%;
  }
  .detail-aboutUs .num-text{
    font-size:40px;
    color: rgba(0, 0, 0, 0.8) !important;
  }
  .detail-aboutUs p{
    color: green;
    font-size:14px;
    font-weight:500;
  }
  .aboutText-img img{
    height: 448px;
    width:100%;
    object-fit: cover;
    margin-top:50px;
  }
  .best-place{
    height:300px;
    width:100%;
    background-image: linear-gradient(rgba(1, 126, 30, 0.8),rgba(1, 126, 30, 0.8)), url('image/video-img.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .place-flex{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-place p:first-child{
    color: #f3f5f1;
    font-size: 30px;
    max-width: 300px;
  }
  .text-place p:last-child{
    color: rgba(255, 255, 255, 0.8);
    margin-top:20px;
  }
  .btn-inTouch{
    padding: 14px 28px;
    border: none;
    background: black;
  }
  .btn-inTouch a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:lighter;
  }
  @media(max-width:1000px){
    .place-flex{
      width:85%;
    }
  }
  @media(max-width:800px){
    .aboutUs{
      flex-direction: column;
      margin-bottom:80px;
    }
    .aboutUS-col{
      width:100%;
    }
    .detail-aboutUs{
      width:100%;
      margin-bottom: 20px;
    }
    .aboutText-img h3, .category-head h3{
      font-size:25px;
    }
    .category-head{
      margin-top: 118px;
    }
    .aboutImg{
      height:400px;
      margin-bottom:20px;
      display: none;
    }
    .aboutText-img{
      height: unset;
    }
    .place-flex,.details-flex{
      flex-direction:column;
      justify-content:flex-start;
    }
    .place-flex{
      align-items: flex-start;
      width: 50%;
    }
    .text-place p:first-child{
      font-size:20px;
    }
    .btn-inTouch{
      margin-top: 20px;
    }
  }
  

  .video-house{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('image/video-img.jpg');
    background-size: cover;
    background-position: center;
    margin-top:80px;
    height: 500px;
    width:100%;
    text-align:center;
    color:white;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding: 0 20px;
  }
  .video-house h3{
    text-transform:capitalize;
    font-size: 30px;
    color: #fff;
  }
  .video-house p{
    color:#999999;
    max-width:500px;
    margin-top:30px;
  }
  .video-circle{
    height:80px;
    width:80px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin-top:40px;
  }
  .video-circle .video-icon{
    font-size:50px;
    color:white;
  }
  

  .best-place{
    height:300px;
    width:100%;
    background-image: linear-gradient(rgba(1, 126, 30, 0.8),rgba(1, 126, 30, 0.8)), url('image/video-img.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .place-flex{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-place p:first-child{
    color: #f3f5f1;
    font-size: 30px;
    max-width: 300px;
  }
  .text-place p:last-child{
    color: rgba(255, 255, 255, 0.8);
    margin-top:20px;
  }
  .btn-inTouch{
    padding: 14px 28px;
    border: none;
    background: black;
  }
  .btn-inTouch a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:lighter;
  }

  @media(max-width:800px){
    .place-flex,.details-flex{
        flex-direction:column;
        justify-content:flex-start;
      }
      .place-flex{
        align-items: flex-start;
        width: 50%;
      }
      .text-place p:first-child{
        font-size:20px;
      }
      .btn-inTouch{
        margin-top: 20px;
      }
  }


  
.testimonies{
  width:100%;
  padding: 100px 50px;
  background-color: #f8f9fa;
  text-align:center;
}
.testimonies p{
  color:green;
}
.testimonies h3{
  color: #000000;
  font-size:40px;
}
.testimony-slider{
  height: 300px !important; 
  width:100% !important;
  background-color: white ;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  position: relative;
}

.testimony-slider p{
  color: #06112a;
  padding:20px;
  text-align:left;
}
.testimony-profile{
  display:flex;
  width:90%;
  justify-content:flex-start;
  align-items:center;
  background-color: transparent;
}
.testimony-profile img{
  height:80px;
  width:80px !important;
  border-radius: 50%;
}
.text-div-1{
  text-align:left ;
  margin-left:40px;
}
.text-div-1 h4{
  font-size:20px;
}
.text-div-1 span{
  color: green;
}
.review-icon{
  height: 50px;
  width: 50px;
  border-radius:50%;
  background-color: green;
  position: absolute;
  top: -7%;
  left:5%;
  display:flex;
  align-items: flex-start;
  justify-content:center;
}
.review-icon h2{
  font-size:50px;
  color:white;
  margin-top:-25px !important;
}
@media(max-width:935px){
  .text-div-1 h4 {
    font-size: 16px;
  }
  .text-div-1 span{
    font-size: 14px;
  }
}

@media(max-width:500px){
  .testimonies{
    padding: 80px 20px;
  }
}


.footer-imgView{
    background: #999999;
    width:100%;
    display:flex;
    justify-content: center;
  }
  .footer-imgView a{
    height:300px;
    width:16.6%;
    display: inline-block;
  }
  .each-images{
    height:100%;
    width:100%;
  }
  .each-images div{
    height:100%;
    width:100%;
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .search-icon{
    color:white;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    transition: 0.5s;
  }
  .image-1{
    background-image: url('image/footer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-2{
    background-image: url('image/footer-img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-3{
    background-image: url('image/footer-img2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-4{
    background-image: url('image/footer-img3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-5{
    background-image: url('image/footer-img6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-6{
    background-image: url('image/footer-img5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .each-images:hover div{
   background: rgba(0, 0, 0, 0.5)
  }
  .each-images div:hover .search-icon{
    opacity: 1;
  }
  
  @media(max-width:1000px){
    .footer-imgView{
      flex-direction: column;
      padding-top: 70px;
    }
    .footer-imgView a{
      width:100%;
    }
  }
  
  footer{
    background: #06112a;
    color: rgba(255, 255, 255, 0.7);
    height: 500px;
    width:100%;
    padding-top: 100px ;
  }
  .footer-contentsRow{
    width:95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
  }
  .footer-content-col{
    width:16%;
    text-align: left;
    color: #999999;
    background-color: transparent;
  }
  .first-footer-col{
    background-color: transparent;
    padding: none;
    width:22%;
  }
  .first-footer-col a{
    text-decoration: none;
  }
  .first-footer-col h2,.second-footer-col h2{
    color: #fff;
    font-size: 30px;
    line-height: 1;
  }
  .footer-text1{
    color: #fff;
    font-size: 13px;
  }
  .footer-text2{
    margin-top: 40px;
    font-size: 15px;
    line-height: 2;
  }
  .footer-icon{
    padding: 10px;
    border-radius: 50%;
    background-color: green !important;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }
  .second-footer-col h2{
    color: #fff;
    font-size: 20px;
  }
  .second-footer-col a{
    text-decoration: none;
    color: #999999;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    text-transform: capitalize;
  }
  .second-footer-col a p{
    font-size: 15px;
  }
  .second-footer-col a .arrow-footer{
    font-size: 25px;
  }
  .footer-linkText{
    margin-top: 20px  !important;
  }
  .last-footer-col{
    background: transparent;
    width:24%;
  }
  .footer-green{
    font-size: 25px;
    color: green;
  }
  .footer-green-1{
    font-size: 35px;
    color: green;
    margin-bottom: 10px;
  }
  .last-itemDiv{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    background: #050d21 !important;
    margin-top: 150px;
  }
  .last-itemDiv p a{
    color: green;
    text-decoration: none;
  }
  
  @media(max-width:1100px){
    footer{
      height: unset;
      /* padding-bottom: 100px; */
    }
    .footer-contentsRow{
     /* flex-wrap: wrap; */
      padding: 0 20px;
    }
    .footer-content-col{
      width: 100%;
      margin-bottom: 50px;
    }
    .footer-green-1{
      margin-bottom: 0;
      font-size: 25px;
    }
   .last-itemDiv{
     padding: 0 10px;
     margin-top: 70px;
     padding-bottom: 20px;
   }
  }
  .footer-content-col a:hover{
    color: green;
    transition: 0.5s;
  }
  @media(max-width:565px){
    .footer-green-1{
      font-size: 35px;
      margin-bottom: 10px;
    }
  }
  
